@font-face {
    font-family: 'Segoe UI';
    src: url('Fonts/Pistilli.eot');
    src: url('Fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('Fonts/SegoeUI.woff2') format('woff2'),
        url('Fonts/SegoeUI.woff') format('woff'),
        url('Fonts/SegoeUI.ttf') format('truetype'),
        url('Fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pistilli';
    src: url('Fonts/Pistilli.eot');
    src: url('Fonts/Pistilli.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Pistilli.woff2') format('woff2'),
        url('Fonts/Pistilli.woff') format('woff'),
        url('Fonts/Pistilli.ttf') format('truetype'),
        url('Fonts/Pistilli.svg#Pistilli') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-color: #EBF1F4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 98%;
}
* {
    text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
    -moz-text-size-adjust: 100%; 
    -webkit-text-size-adjust: 130%;

}

.text-actionable-link {
    color: #324545;
    text-decoration: none;
}
.text-actionable-link:hover {
    color: #324545;
    text-decoration: underline;
    cursor: pointer;
}
.text-underlined-link {
    color: #324545;
    text-decoration: underline;
}
.text-underlined-link:hover {
    color: #324545;
    text-decoration: underline;
    cursor: pointer;
}

.introduction-block {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 50px;
    width: 80%;
    min-width: 320px;
    max-width: 40rem;
    padding: 1rem 1.3rem;
}
.TaylorBowl-logo {
    text-align: center;
    margin-left: 2rem;
    margin-right: 1.3rem;
    margin-top: auto;
    margin-bottom: auto;
}
.TaylorBowl-logo-image {
    width: 13rem;
}
.TaylorBowl-logo-text {
    font-family: Pistilli;
    font-size: 1.7rem;
    letter-spacing: -0.1rem;
    text-align: center;
    margin-top: -26%;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}
.introduction-block-text {
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1.6rem;
    margin-bottom: 1.6rem;
    font-size: 1.4rem;
    line-height: 1.7rem;
}

.category-section {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 50px;
    min-width: 320px;
    max-width: 40rem;
    width: 80%;
    padding: 1rem 1.3rem;
}
.category-section-title {
    font-weight: 500;
    font-size: 1.4rem;
    color: white;
    background-color: #324545;
    text-align: center;
    letter-spacing: 0.1rem;
    align-content: center;
    padding: 0.3rem 3rem 0.4rem;
    width: fit-content;
    max-width: none;
    height: fit-content;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.category-section-content {
    margin-left: 0.5rem;
}
.category {
    width: fit-content;
    margin-bottom: 0.7rem;
    display: flex;
}
.category-title {
    font-weight: 500;
    font-size: 1.4rem;
    color: black;
    width: 5.5rem;
    padding-bottom: 0.22rem;
    align-content: center;
    text-align: right;
    padding-right: 1rem;
    margin-right: 1rem;
    border-right-style: solid;
    border-right-color: #324545;
    border-right-width: 1.7px;
}
.category-links {
    font-size: 1.2rem;
    height: fit-content;
    padding-top: 0.2rem;
    padding-bottom: 0.3rem;
    flex: 1;
    float: right;
    line-height: 1.5rem;
}

.note-to-users {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    margin-top: 50px;
    width: 80%;
    max-width: 40rem;
    padding: 1rem 1.3rem;
}
.note-to-users-title {
    font-weight: 500;
    font-size: 1.4rem;
    color: white;
    background-color: #324545;
    text-align: center;
    letter-spacing: 0.32px;
    align-content: center;
    padding: 0.5rem 1rem 0.6rem;
    margin-left: 1rem;
    width: fit-content;
    max-width: 15%;
    min-height: 2.2rem;
    height: fit-content;
    border-radius: 7px;
    margin-top: auto;
    margin-bottom: auto;
}
.note-to-users-text {
    font-size: 1.2rem;
    padding-bottom: 3px;
    flex: 1;
    height: fit-content;
    line-height: 1.55rem;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1.3rem;
}

.version-text {
    margin-top: 3rem;
    text-align: right;
    font-size: 0.8rem;
    margin-right: 7%;
}
