@font-face {
    font-family: 'Segoe UI';
    src: url('Fonts/Pistilli.eot');
    src: url('Fonts/SegoeUI.eot?#iefix') format('embedded-opentype'),
        url('Fonts/SegoeUI.woff2') format('woff2'),
        url('Fonts/SegoeUI.woff') format('woff'),
        url('Fonts/SegoeUI.ttf') format('truetype'),
        url('Fonts/SegoeUI.svg#SegoeUI') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Pistilli';
    src: url('Fonts/Pistilli.eot');
    src: url('Fonts/Pistilli.eot?#iefix') format('embedded-opentype'),
        url('Fonts/Pistilli.woff2') format('woff2'),
        url('Fonts/Pistilli.woff') format('woff'),
        url('Fonts/Pistilli.ttf') format('truetype'),
        url('Fonts/Pistilli.svg#Pistilli') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
body {
    background-color: #EBF1F4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}

.text-actionable-link {
    color: #227868;
    text-decoration: none;
}
.text-actionable-link:hover {
    color: #227868;
    text-decoration: underline;
    cursor: pointer;
}
.text-underlined-link {
    color: #227868;
    text-decoration: underline;
}
.text-underlined-link:hover {
    color: #227868;
    text-decoration: underline;
    cursor: pointer;
}
.command-text {
    color: #9B2998
}
.formula {
    overflow-x: auto;
}
.song-text {
    font-style: italic;
}
.all-content {
    max-width: 1313px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3%;
    padding-right: 3%;
    margin-bottom: 2rem;
    font-size: 1rem;
}

.header {
    display: flex;
    margin-top: 0.8rem;
    margin-bottom: 1.3rem;
    padding-top: auto;
    padding-bottom: auto;
}
.TaylorBowl-logo {
    display: flex;
    text-decoration: none;
}
.TaylorBowl-logo-image {
    height: 2.2rem;
}
.TaylorBowl-logo-text {
    font-family: Pistilli;
    font-size: 1.3rem;
    margin-top: 0.4rem;
    margin-left: 0.22rem;
    letter-spacing: -1px;
    word-spacing: 0.1rem;
    transform: scaleY(1.3);
    color: black;
}
.search-button {
    border-style: solid;
    background-color: #324545;
    border-width: 0.1rem;
    border-color: #324545;
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    border-radius: 0.5rem;
    margin-left: auto;
    margin-top: 0.2rem;
}
.search-button:hover {
    cursor: pointer;
}
.search-logo {
    width: 1.22rem;
}
.search-input {
    width: 100%;
    height: 2rem;
    margin-top: 0.2rem;
    padding: 0;
    padding-left: 0.75rem;
    padding-right: 0.5rem;
    border-radius: 0.5rem 0rem 0rem 0.5rem;
    border-width: 0;
    box-shadow:0px 0px 0px 0.1rem #324545 inset;
    display: none;
}
.search-input:focus {
    outline-width: 0;
}
.new-search-button {
    border-style: solid;
    background-color: #324545;
    border-width: 0.1rem;
    border-color: #324545;
    width: 2rem;
    height: 2rem;
    padding: 0.25rem;
    padding-left: 0.13rem;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
    margin-left: auto;
    margin-top: 0.2rem;
    display: none;
}
.new-search-button:hover {
    cursor: pointer;
}

.Seasons-title {
    padding-bottom: 0.1rem;
    font-family:'Times New Roman', Times, serif;
    font-size: 2rem;
}
.title-line {
    margin-top: 0.2rem;
    height: 1.2px;
    color:#324545;
    background-color: #324545;
    border: none;
    margin-bottom: 1rem;
}

.contents-list {
    background-color: white;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1.3rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.7rem;
    padding-bottom: 1rem;
    width: 6rem;
}
.contents-list-title {
    margin-bottom: 0.5rem;
    font-weight: 700;
}

.section-header {
    font-family:'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    width: 100%;
}
.section-header-line {
    margin-top: 0.2rem;
    color:#324545;
    background-color: #324545;
}
.subsection-header {
    font-weight: 700;
    font-size: 1.1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.section-subheader {
    padding-left: 1%;
    padding-right: 1%;
    margin-top: -0.5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: grey;
}
.subsection-subheader {
    margin-top: -0.69rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    color: grey;
}
.version-text {
    margin-top: 3rem;
    text-align: right;
    font-size: 0.8rem;
}

.visual {
    width: 24rem;
    max-width: 100%;
    float: right;
    margin-top: 0.5rem;
    margin-left: 5%;
    margin-bottom: 2rem;
}
.image {
    width: 100%;
    border-style: solid;
    border-width: 0.8rem;
    border-color: white;
    box-sizing: border-box;
    display: inline-block;
}
.caption {
    width: 100%;
    background-color: white;
    margin-top: -0.5rem;
    padding-bottom: 0.5rem;
    border-style: solid;
    box-sizing: border-box;
    border-color: white;
    border-width: 0.1rem;
    font-size: 0.81rem;
    text-align: center;
}
